<?xml version="1.0" encoding="utf-8"?>
<projects>
	<project name="PT">
		<time type="string">pal</time>
		<linear type="string">centimeter</linear>
		<camera type="string">MainCam</camera>
		<camResX type="int">1280</camResX>
		<camResY type="int">720</camResY>
		<camFilmFit type="int">2</camFilmFit>
		<playblastScale type="float">75</playblastScale>
		<startFrame type="int">1</startFrame>
		<animLibPath type="string">P:\PT\animLib\</animLibPath>
		<facialLibPath type="string">P:\PT\DB\</facialLibPath>
		<resourceLocator type="string">resource_PT.xml</resourceLocator>
	</project>
	<project name="MB">
		<time type="string">pal</time>
		<linear type="string">centimeter</linear>
		<camera type="string">MainCam</camera>
		<camResX type="int">1280</camResX>
		<camResY type="int">720</camResY>
		<camFilmFit type="int">2</camFilmFit>
		<playblastScale type="float">75</playblastScale>
		<startFrame type="int">101</startFrame>
		<animLibPath type="string">P:\MB\animLib\</animLibPath>
		<facialLibPath type="string">P:\MB\DB\</facialLibPath>
		<resourceLocator type="string">resource_MB.xml</resourceLocator>
	</project>
</projects>